@import "./article.css";

.main-area {
  margin: var(--header-height) 0 var(--footer-height) 0;
  padding: 20px;
  background: var(--light);
  color: var(--contrast-text);
  display: grid;
  gap: 10px;
}

@media (min-width: 600px) {
  .main-area {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .main-area {
    grid-template-columns: repeat(4, 1fr);
  }
}
.heart {
  background-color: red;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:before {
  top: -15px;
  left: 0;
}

.heart:after {
  left: 15px;
  top: 0;
}